:host {
}

.microButton {
  cursor: pointer;
  top: 12px;
  right: -45px;
  font-size: 34px;
}

.RecordStreamOverlay {
  position: fixed; /* Fija el overlay en la ventana */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.5); /* Color azul semitransparente */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -12%;
}

.navlogo,
.navlinks a {
  font-weight: 500;
}

.navlogo {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.navlinks {
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.apptitle {
  font-size: 2.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.appdescription {
  font-size: 1.1rem;
  margin: 1rem;
}

.link {
  font-weight: 500;
}

.cloudform {
  position: relative;
}

.textarea {
  position: relative;
  resize: none;
  font-size: 1.1rem;
  padding: 1rem 2rem 1rem 2rem;
  width: 75vw;
  border-radius: 0.5rem;
  border: 1px solid #30373d;
  background: #070809;
  color: #ececf1;
  outline: none;
}

.textarea:disabled {
  opacity: 0.5;
}

.textarea::placeholder {
  color: #5f6368;
}

.generatebutton {
  position: absolute;
  top: 0.87rem;
  right: 5rem;
  color: rgb(249 249 249);
  background: none;
  padding: 0.3rem;
  border: none;
  display: flex;
  z-index: 999;
}

.loadingwheel {
  position: absolute;
  top: 0.2rem;
  right: 0.25rem;
}

.svgicon {
  transform: rotate(90deg);
  width: 1.2em;
  height: 1.2em;
  fill: currentColor;
}

.generatebutton:hover {
  background: #1f2227;
  border-radius: 0.2rem;
}

.generatebutton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
  background: none;
}

.messagelist {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-radius: 0.5rem;
  border: 1px solid #063462;
  background: #063462;
  box-shadow: 41px -10px 40px 8px rgba(0, 0, 0, 0.25) inset,
    -16px 18px 15px 18px rgba(0, 0, 0, 0.41);
}

.messagelistloading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.usermessage, .usermessagewaiting {
  padding: 1.5rem;
  color: #ececf1;
  flex-direction: row-reverse;

  .markdownanswer {
    line-height: 1.75;
    border-radius: 10px;
    border-radius: 10px;
    background: #2482BE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    color: white !important;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
}

.usermessagewaiting {
  flex-direction: row-reverse;
}

.usermessagewaiting {
  padding: 1.5rem;
  color: #ececf1;
  background: linear-gradient(to left, #063462, #063462, #05428000);
  background-size: 200% 200%;
  background-position: -100% 0;
  animation: loading-gradient 2s ease-in-out infinite;
  animation-direction: alternate;
  animation-name: loading-gradient;
}

@keyframes loading-gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.apimessage {
  padding: 1.5rem;
  color: #ececf1;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.apimessage,
.usermessage,
.usermessagewaiting {
  display: flex;
}

.markdownanswer {
  line-height: 1.75;
  border-radius: 10px;
  background: #c8dae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: #063462;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1rem;
}

.markdownanswer a:hover {
  opacity: 0.8;
}

.markdownanswer a {
  color: #16bed7;
  font-weight: 500;
}

.markdownanswer code {
  color: #15cb19;
  font-weight: 500;
  white-space: pre-wrap !important;
}

.markdownanswer ol,
.markdownanswer ul {
  margin: 1rem;
}

.boticon {
  margin-right: 1rem;
  border-radius: 0.1rem;
}

.usericon, .boticon {
  margin-left: 1rem;
  border-radius: 0.1rem;
  border-radius: 3.0rem;
}

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
  font-size: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  flex-direction: column;
}

.cloud {
  width: 100%;
  height: 55vh;
  background: #070809;
  border-radius: 0.5rem;
  border: 1px solid #30373d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointsnormal {
  width: 90%;
  height: 90%;
}

.pointsdim {
  width: 90%;
  height: 90%;
  opacity: 0.25;
}

.footer {
  color: #5f6368;
  font-size: 0.8rem;
  margin: 1.5rem;
}

.footer a {
  font-weight: 500;
  color: #7a7d81;
}

.footer a:hover {
  opacity: 0.8;
}

form {
  display: flex
}
/* Mobile optimization */
@media (max-width: 600px) {
  .main {
    padding: 1rem;
    max-height: 90vh;
    position: relative;
  }

  .textarea {
    width: 22rem;
  }

  .topnav {
    border: 1px solid black;
    align-items: center;
    padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  }

  .navlogo {
    font-size: 1.25rem;
    width: 20rem;
  }

  .markdownanswer code {
    white-space: pre-wrap !important;
  }

  footer {
    display: none;
  }

  .boticon, .usericon {
    display: none;
  }

  form {
    display: flex;
    max-width: 20rem;
  }

  .microButton{
    font-size: 16px;
  }
}
