@import './base.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button {
  @include font-style('Link M');
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 200ms ease-out;
  border: none;
  outline: none;
  cursor: pointer;
  padding: $spacing-8 $spacing-16;
  border-radius: 1rem;
  gap: $spacing-8;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.toast {
  @include font-style('Heading S');
  position: absolute;
  right: 0;
  bottom: calc(100% + 21px);
  color: $color-grey-900;
  padding: calc(#{$spacing-16} + #{$spacing-4}/ 2);
  border-radius: $spacing-16;
  display: flex;
  align-items: center;
  gap: calc(#{$spacing-16} + #{$spacing-4}/ 2);
  animation: fadeIn 0.5s, fadeOut 5.6s cubic-bezier(0.76, 0, 0.24, 1);
  min-width: calc(#{$spacing-24} * 14);
  z-index: 1;

  &.success {
    background-color: $color-green-50;
  }

  &.error {
    background-color: $color-red-50;
  }

  .dismiss-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    img.close {
      cursor: pointer;
    }
  }
}

.layout {
  width: 100vw;
  height: 100vh;
  background-color: $color-blue-900;
  color: $color-white;
  padding: 1rem;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;

  .title-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-weight: 600;
      font-size: $fs-28;
      line-height: 1.25;
    }

    .menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: $spacing-8;

      button {
        background-color: transparent;
        color: $color-white;
        border-radius: 0.5rem;
        padding: $spacing-8;
        font-weight: 500;
        font-size: $fs-14;
        line-height: 1.5;

        .menu-icon {
          display: flex;
          svg {
            fill: $color-white;
          }
        }

        &:hover {
          color: $color-blue-300;
          svg {
            fill: $color-blue-300;
          }
        }

        &[disabled] {
          cursor: default;
        }

        .menu-icon.syncing svg {
          animation: syncing-rotate 1.2s linear infinite;
        }

        @keyframes syncing-rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }

  footer {
    .logo {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      gap: $spacing-8;
      font-weight: 600;
      font-size: $fs-16;
      line-height: 1.5;
    }
  }

  main {
    width: 100%;
    min-height: 0;
    flex: 1 0 0;
  }
}

section.login {
  height: 100%;

  form {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-24;

    input {
      width: 100%;
      outline: none;
      border: 1px solid $color-grey-400;
      color: $color-grey-900;
      border-radius: 16px;
      padding: 12px 16px;
      font-size: $fs-16;
      font-weight: 400;
      line-height: 1.5;
    }

    button {
      width: 100%;
      font-size: $fs-16;
      font-weight: 500;
      line-height: 1.5;
      color: $color-white;
      background-color: $color-blue-500;

      &:hover {
        background-color: $color-blue-700;
      }

      &[disabled] {
        background-color: $color-blue-700;
        cursor: default;
      }
    }
  }
}

.app-card {
  position: relative;
  width: 100%;
  height: 100%;
  color: $color-grey-800;
  padding: $spacing-24 $spacing-32;
  border-radius: $spacing-32;
  background-color: $color-white;
}

@media #{$desktop} {
  .app-card {
    background: linear-gradient($color-grey-400, $color-grey-400) no-repeat
      calc(50% - #{$spacing-12}) / 1px 100%;
    background-color: $color-white;
  }

  .layout {
    padding: 3rem 8rem;

    .title-menu {
      .menu {
        button {
          padding: $spacing-8 $spacing-16;
        }
      }
    }
  }

  section.login form {
    input {
      max-width: 320px;
    }
    button {
      max-width: 320px;
    }
  }
}
